@tailwind base;
@tailwind components;
@tailwind utilities;

.th {
  @apply laptop:py-2 desktop:py-6 bg-yellow-300 font-bold tv:text-6xl laptop:text-2xl desktop:text-4xl
}

.name {
  @apply px-4 text-center font-bold border-b border-l tv:text-[76px] desktop:text-5xl laptop:text-3xl bg-black text-white truncate desktop:max-w-[250px] tv:max-w-[330px] h-16 tv:h-24
}

.exercise {
  @apply px-4 text-center font-bold border-b laptop:text-3xl tv:text-[76px] desktop:text-5xl bg-black truncate desktop:max-w-[900px] tv:max-w-[1200px] tv:h-24
}

.excType {
  @apply text-center font-bold tv:h-24 tv:text-6xl laptop:text-xl desktop:text-5xl truncate desktop:max-w-[320px] tv:max-w-[400px]
}

.button {
  @apply tv:w-60 tv:h-32 tv:text-5xl desktop:w-40 desktop:h-24 desktop:text-4xl laptop:w-20 text-white rounded-md focus:outline-none font-bold h-14
}

.form-button {
  @apply desktop:w-32 desktop:h-12 laptop:w-28 text-white rounded-md focus:outline-none font-bold
}

.select-trainings {
  @apply flex flex-row justify-between
}

.sidepanel {
  @apply h-[25%] fixed top-0 right-0 bg-black overflow-hidden transition-all duration-500;
}

.sidepanel-button {
  @apply p-[8px] pl-[32px] text-[25px] text-gray-400 hover:text-gray-500 block whitespace-nowrap;
}

.sidepanel-close-button {
  @apply absolute right-5 text-[30px] text-gray-400 hover:text-gray-500;
}

.hamburger {
  @apply fixed top-0 right-5 text-white hover:text-gray-300 text-[30px]
}
 
body {
  background-image: url('/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
