@tailwind base;
@tailwind components;
@tailwind utilities;

.th {
  @apply py-6 bg-yellow-300 border font-bold text-3xl
}

.name {
  @apply px-2 text-center font-bold border-l text-4xl bg-black text-white truncate max-w-[300px]
}

.exercise {
  @apply px-2 text-center font-bold text-4xl bg-black truncate max-w-[600px]
}

.excType {
  @apply px-2 text-center border font-bold text-4xl
}

body {
  background-image: url('/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}